# Copyright (c) 2021 Nordic Semiconductor ASA
# Copyright (c) 2023 Leon Rinkel
# SPDX-License-Identifier: Apache-2.0

if BOARD_LUMEN

config BOARD
	default "lumen"

config BT_CTLR
	default BT

endif # BOARD_LUMEN
